/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 2rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  
  /*===== Font and typography =====*/
  --body-font: 'Fraunces', serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

.container{
  /* padding-left: 60px; */
  margin-top: 80px;
  width:1180px;
}
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

/* body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
} */

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.headsec:after {
    content: '';
    height: 47vh;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    width: 100%;
    z-index: -1;
    
    
    top: -50px;
    left: 0px;
}
.header{
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  align-items: center;
  background: #fff;
  z-index: var(--z-fixed);
  transition: .5s;
 


}
.headertoggle
{
  position: fixed;
  z-index: 21;
}
.avatar-icon{
  align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}
.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
    top: 10px;
    left:20px;
}
.Dashborad-search{
  height: auto !important;
}
.search-in {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch !important;
  width: 100%;
  align-items: center !important;
  justify-content: center !important;
}
.search-button {
  color: #000; 
  background-color: #fff !important;
  border:none !important;
}
/* .search-button:hover{
  color: #000; 
  background-color: #fff !important;
  border:none !important;
} */
.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
/* img{
  width: 100px;
} */
.l-navbar{
  position: fixed;
  top: 73px;
  left: -30%;
  width: var(--nav-width);
  height: 90vh;
 background: rgb(251, 251, 251);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 0rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}
.nav__link .nav_name Link{
  color:green;
}

/* .nav__link:hover{
  color: green;
} */

.nav__icon{
  font-size: 1.25rem;
  color:#006837;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 0.7rem);
}

/*Active links*/
/* .active{
  color: var(--white-color);
} */

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  /* body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 1rem);
  } */

  .header{
    height: calc(var(--header-height) + 1rem);
  }
.dashboard-logo{
  max-width: 70%;
}
  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
   .show{
    width: calc(var(--nav-width) + 156px) ;
  }
  .dasboard-nav .show{
    width: calc(var(--nav-width) + 156px) !important;
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 90px);
  }
}

 .cardsec{
   /* background: rgb(251, 251, 251) !important; */

   box-shadow: 0 18px 24px rgb(0 0 0 / 12%);
   padding: 1.42857rem!important;
} 
.cardheads
{
  font-family: Poppins !important;
  color: #006837;
}

/* .main{
  margin-top: 80px;
} */
/* .cardsec{
  height: 120px;
  width: 95%;
  padding: 15px 5px ;
} */
/* .cardsec:hover{
  transform: scale(1.1);
  box-shadow: #000000ab 2px 6px 10px -5px;
} */
#chartdiv {
  width: 100%;
  height: 370px;
}
.chart-card{
  margin-top: 36px;
  /* margin-left: -55px; */
}
.piechart-card{
   margin-top: 36px;
   /* margin-right: -40px; */
}
#piechartdiv{
  width: 100%;
  height: 370px;
}
.chartsec{
  z-index: 10;
  
}
.cardicon{
  font-size: 48px;
  /* color: rgba(51, 108, 251, 0.5); */
  color:#00B560;
}
.count{
  font-size: 20px;
    /* color: rgb(51, 108, 251); */
    color:#006837;
    line-height: 1.4;
    font-family: Foco;
    font-size:20px;
}
.table-sec{
  margin-top: 20px;
  height: 100vh;
}
.card-table{
   box-shadow: 5px 6px 22px -6px;
}
.main1 {
  font-size: 120%;
  color: red;
  display:none;
  transition: 1.0s;
}


.nav__link .collapsed 
{
  background-color: transparent;
  color:var(--first-color-light);
  box-shadow:0;
  width:100%;
  padding: 0;
  font-size:15px;
}
.nav__link .collapsed span
{
  font-size:17px;
  font-family: Poppins;
}
.nav__link .accordion-item .accordion-header .d-flex button
{
  font-size:15px;
  color:#afa5d9;
}

/* .nav__link .collapsed span:hover{
  color:green;
} */
.nav__link .accordion-item
{
  background-color: transparent;
  border:0px;
  width:162px;
  
}
.nav__link .accordion-button:not(.collapsed)
{
  background-color: transparent;
  border:0;
}
.nav__link .accordion-button:focus
{
  box-shadow:0 0 0 0 white !important;
  
}
.nav__link .accordion-button::after
{
  /* height: 1.25rem;
  width: 1.25rem; */
  /* background-image: url('../../Images/Icons/Rectangle 90.png') !important; */
  font-size: px;

}
.nav__link ul
{
  padding:0;
  margin: 0;
  width: 100%;
  line-height: 50px;
}


.nav__link .accordion-button {
padding: 0px !important;
}


/* data table css start */
.form-inline label
{
  color:#006837;

  font-family: Poppins;
  font-weight: bold;
}
.table>:not(:last-child)>:last-child>*
{
color: #006837;
font-family: Foco;
}
.table td, .table th
{
  color:rgb(17, 1, 1);
  font-family: Poppins;
}

.btnbtn-danger
{
  color: white;
    background: #972121;
    border: 0;
    padding: 3px 8px;
    border-radius: 14%;

  border: 0;
  outline:0;
  /* background-color: red !important; */
}
/* data table css end */


/* Product Form */
.product-form
{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* background: url(../../Images/formback1.jfif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; */
  /* background-color: #00D872; */
}
.product-form h5
{
  color:#006837;
  font-family: Foco;
  font-weight:400 !important;
  font-size: 25px !important;
  text-decoration: underline;
}
.product-form .row div input,select,textarea
{
  font-family:Foco;
  border-radius: 0;
}
.product-form .row div button
{
  width:100px;
  color: #fff;
  background-color: #1b97ff;
  border-color: #1b97ff;
  border:0px;
}
.product-form .row div button:hover
{
  color: #000;
  border: none;
}
/* .update-btn
{
  display:None;
} */
/* End Product Form */



/* Sidemenu Css Start */
.header-toggle-button
{
  color:#006837;
}
.header-toggle-button.bx-x{
  
    position: absolute;
    right: 24px;
}
.nav div .nav__list .nav__link .nav__name
{
  font-family: Poppins;
  font-size: 17px;
  color:#006837;
 
}
.nav__name
{
  font-family: Poppins;
  font-size: 17px;
  color:#006837;
}


/* End Sidemenu css */


/* Admin Dashboard Order Details */
.order-details-div
{
  width:700px;
}

.order-details-div .modal-body .row .logiRegisterContentDiv
{
  padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 30px;
    padding-top: 0px;
}
.order-details-div .modal-body .row .logiRegisterContentDiv  .heading  h1
{
  font-family: Foco !important;
  font-weight: normal !important;
  color: #84928b;
}
.order-details-div .modal-body .row .logiRegisterContentDiv div table thead tr th
{
  color:#006837;
  font-family: Poppins;
}
.order-details-div .modal-body .row .logiRegisterContentDiv div table tbody tr td
{
  color:black;
  font-family: Poppins;
  
}
/* End Admin Dashboard Order Details */

/* User Roles Css */
.btn-registration
{
  background-color: rgb(145, 7, 7);
  color:white;
  font-family: Poppins;
  border-radius: 0;
}
.input-text
{
  font-family: Poppins;
  border-radius: 0;
}

/* End User Roles Css */



/* dashboard header image css */
.nav__logo 
{
  position: fixed;
  top: 0px;
  z-index: 20;
}

/* End Dashboard header image css */


/* add button css */
.create-manu
{
  margin-bottom: 30px;
  
}
.create-manu span
{
  font-family: Poppins;
  font-size: 17px;
  margin-right: 10px;
  color:#006837;
}
.create-manu button
{
  font-family: Poppins;
  font-size: 17px;
  height:38px;
  width: 40px;
  border-radius: 50%;
  border:0;
  background-color: #00B560;
  filter: drop-shadow(2px 4px 6px black);
  padding-top: 6px;
 
}
.create-manu button i::before
{
  background-color: none !important;
  font-size: 25px;
}
/* end add button css */