/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #006837;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.content
{
    padding-left: 6px;
}
.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;
}
.medq-responsive-nav .logo2 {
    position: relative;
    width: 100%;
    height:100%;
    z-index: 999
}
.main-nav
{
    height:6.1vh;
    /* background-color:rgb(0,216,114) !important; */
    
}
.drop-category
{
    background-color:#1e144f;
    /* padding:5px; */
    
    

}
.drop-category .category span
{
    padding-left:15px;
}
.navbar
{
    background-color:#1b97ff !important;
    padding: 0px;
    padding-right: 0;
    
}  
 
.icons4
{
     max-width:26px !important; 
    height:30px;
}

.icons2
{
    max-width:19px !important;
    margin-right:5px;
}
.option-item .cart-btn .bx-userbx-user
{
    size:20px;
}
.option-item .cart-btn {
	font-size: 28px;
	position: relative;
	line-height: 0
}




.login-div1
{
    
    right:-10px;
}
.user-login
{
    position: relative;
    bottom:0px;
    right:0px;
}
.wishlist-div
{
    position:relative;
    left:45px;
}
.sp{
font-family:foco;
font-size:15px;
position: relative;
color:#1e144f;
}
.Sp1{
    font-size:9px;
    position: relative;
    bottom:12px;
    font-family: foco;
    
}
.contact1
{   
    font-family:Foco;
    font-size: 20px;
    color:white;
    margin-top:1px;
}
.contact1 .contact
{
    margin-left:10px;
    
}

.contact
{   
    font-family:Foco;
    font-size: 15px;
    color:white;

}
.login-div2 input[type="text"]
{   
    position:relative;
    top:25px;
    border:1px solid rgba(0,0,0,0.2);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    float:left;
    height: 30px;
    width:260px;
    font-size:15px;
    font-family: Foco;
    color:#C0C0C0;

}
.login-div2 .search{
    position:relative;
    background-color:#1e144f;
    height:30px;
    width:35px;
    float:left;
    border-radius:0;
    bottom:-25px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    margin-left:0;
    color:white;
    border:0;
    outline:0;
}
.currancy select
{
    height: 30px;
    font-family: Poppins;
    border: 0;
    padding: 5px 7px;
    outline: 0;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(44 160 255 / 53%) 0%, rgba(23,150,255,1) 100%);
}

#navbarTogglerDemo03 ul
{
    margin-left:30px;
}
.nav-item .nav-heading{
    font-family: Foco;
    font-size: 16px;
    font-weight:600;
    color:white !important;
}
.number
{
    font-family: Foco;
    font-size: 18px;
    font-weight:800;
    color:white !important;

}
.drop-category .category
{
    float: left;
    
}
.drop-category .category-head
{
    font-size:16px;
    font-family: Poppins;
    color:white;

    margin-top: 0;
    position: relative;
    top:2px;
}
.drop-category  i
{
    font-size:20px;
    padding-top:10px ;
    color:white;

}
.insideNav
{
    overflow-y:auto;
}
.insideNav ul
{
    line-height: 17px;
    
}
.insideNav ul li
{
    font-size: 17px;
    line-height:65px;
    font-family:Poppins;
    font-weight:500;
    color:#2F2F2F;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.side-nav .insideNav .bx-search-alt
{
    margin:26px;
    margin-left:0;
}

.side-nav {
  
  width: 0;
  margin: 0 auto;
  border: 1px solid #eee;
  /* position: relative; */
  overflow: hidden;
  
}
.side-nav .insideNav{
  padding: 16px;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  left: 0;
  transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
  
}

.side-nav .inactive {
  left: -550px;
}



/*   *************************Sidebar css *****************/


.button{
    margin:7px 0px; 
    width:100%;
    font-family:Poppins;
    color:#2F2F2F;
}
.button i{
    margin-right:15px;
}
.accordion-button:focus {
    z-index: 3;
    border-color: white;
    outline: 0;
    box-shadow: 0 0 0 0.25rem white;
}
#myHeader{
    z-index: 16;
}
#myHeader .col-10{
        padding-left: 0px !important;
        padding-right: 0px !important;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }





  @media screen and (min-width: 768px)
{
.show {
    width: 100% !important;
}
}
.logiRegisterContentDiv{
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 60px;
}
.logiRegisterContentDiv .btn{
    padding: 18px;
    margin-top: 20px;
    line-height: 0px;
    width: 45%;
    background: linear-gradient(90deg, rgb(44 160 255 / 53%) 0%, rgba(23,150,255,1) 100%);
    border: #00D872;
}
.logiRegisterContentDiv input{
    border:0.8px solid #ACACAC;
}
.logiRegisterContentDiv span{
    color: #1b97ff;
    font-weight: bold;
    font-size: 15px;
    margin:3px ;
}
.logiRegisterHeader1 {
    padding-left: 70px;
    border-right: 0.4px solid #808080;
}
.logiRegisterHeader2 {
    padding-right: 70px;
    border-left: 0.4px solid #808080;
}
.logiRegisterHeader2 h3{
    float: right;
    cursor: pointer;
}
.logiRegisterHeader1 h3{
    cursor: pointer;
}

/* wishlist code */
.wishlistDiv{
    margin-top: 40px;
    border: 0.8px solid #C7C7C7;

}
.wishlistDiv .row .col-1{
    border-right: 0.8px solid #C7C7C7;;
    display: flex;
    align-items: center;
}
.wishlistDiv .row .col-3,.wishlistDiv .row .col-8{
    padding: 20px;
}
.wishlist-container{
    max-width: 800px;
    margin: auto;
    padding: 91px 0px;
}
.wishlistDiv img
{
    height:140px;
}
/* End wishlist code */
.accordion-item .accordion-header .d-flex  button
{
    
    font-size:1.2rem;
    
}
.icons1
{
 padding-left:15px;
}
.Home-navbar ul li{
    padding:0px 10px;
}






/* SideBar Modal Css */
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    /* left: -320px; */
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}
.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */


.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
color: #fff;
}
/* End Side Bar Modal CSs */
.read-more-button
{
    color:#00D872;
    font-weight:700;
    cursor: pointer;
}
h3 .read-more-button
{
    color:black;
    cursor: pointer;
}

.dropdown .btn-sm{
    padding: 0px !important;
    font-size: 10px !important;
    position: relative;
    bottom: 11px;
    font-family: foco;
    outline: 0;
    box-shadow: 0 0 0 -0.8rem rgb(0 123 255 / 25%) !important;

}
/* logout css ul */

.Logout-ul 
{
    width: 250px !important;;
    height:234px;

}
.Logout-ul div
{
    border-bottom:1px solid #00B560;
}
.Logout-ul div i
{
    font-size: 25px;
    color:#006837;
}

.Logout-ul .Logout-li
{
    font-size:17px;
    font-family: Poppins;
    line-height: 40px;
    text-align: center;
    color:#006837;

}
.dropdown-item:focus, .dropdown-item:hover
{
    background:white;
}
/* end Logout UL css */



/* left side menu */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 227px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.main-menu
{
    border-bottom:0.5px solid #CBCBCB ;
}
.category-button
{
    font-size: 16px !important;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 228px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 227px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* end left side menu */

body {
    /* height: 2000px; */
}
.bottomMenu {
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    background: red;
    z-index: 1;
    transition: all .5s;
}
.hide {
    opacity:0;
   
}
.show {
    opacity:1;
  
}
.mobile-nav-bar
{
    display: none;
}
.mobile-top-navbar
{
    display: none;
}
.Login-fail-msg
{
    color:red;
    font-size: 12px;
    font-family: Poppins;
}





/* mobile responsive header css */

@media only screen and (min-width: 360px) and (max-width: 815px){
    .mobile-nav-bar
    {
        display: block;
    }
.top-nav
{
    display: none;
}
.main-nav
{
    display: none;
}
.mobile-nav-bar .mobile-nav-list
{
    /* justify-content: center;
    align-items: center; */

}
.mobile-nav-bar .mobile-nav-list .nav-item .nav-link
{
    color:white;
    font-family: Poppins;
    font-style:normal;
    font-weight: bold;
    font-size: 17px;
}
.mobile-nav-bar .navbar-toggler
{
    background-color: transparent !important;
    outline: 0px !important;
    box-shadow: unset;
}
.mobile-nav-bar .navbar-toggler .navbar-toggler-icon
{
    outline: 0px;
    color:white !important;
}




{/* phone top-navbar */}
.mobile-top-navbar
{
    display: block;
    width:100%;
    height:45px;
    align-items: center;
    display: flex;
    /* background-color: rgb(240, 238, 235); */
}
.login-div2 input[type="text"]
{
    position: relative;
    top: 0px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    height: 25px;
    width: 180px;
    font-size: 15px;
    font-family: Foco;
    color: #C0C0C0;
}
.login-div2 .search {
    position: relative;
    background-color: #006837;
    height: 25px;
    width: 35px;
    float: left;
    border-radius: 0;
    bottom: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
    color: white;
    border: 0;
    outline: 0;
}
.mobile-top-navbar .mobile-icon-div i
{
        font-size: 22px;
        color:#2D2D2D;
}
.dropdown .btn-sm
{
    bottom:0px;
}
{/* end phone top-navbar */}
}
/* end  mobile responsive header css */




/* Media Query Responsive for Desktop */
@media only screen and (min-width: 815px) and (max-width: 1024px){
.top-header-padding
{
    padding: 0 15px !important;
}
.wishlist-div
{
    position: relative;
    left: 10px;
}
.top-header-padding .col-sm-1
{
    padding: 0;
}
.drop-category .category-head
{
    font-size: 11px;
}
.sp{
    font-family:foco;
    font-size:15px;
    position: relative;
    color:#006837;
    left:4px;
    }
    .Sp1{
        font-size:9px;
        position: relative;
        bottom:12px;
        font-family: foco;
        left:4px;
    }
}


/* End Media Query Responsive for Desktop */